<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Test">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="age" property="age" />
        <result column="birthday" property="birthday" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="dep_name" property="depName" />
    </resultMap>

    <select id="findPage"  resultType="com.example.demo.entity.Test">
         SELECT * FROM pf_test WHERE  1=1
        <if test="name!=null and name!=''">
            AND name = #{name}
        </if>
    </select>

</mapper>
